
<div class="box">
 
<div class ="money">
<h2>The Value of Money</h2>
 <figure>
   <img src="./img/money.jpg" alt="valaue of money" /> 
   <figcaption>What is the value of Money</figcaption>
</figure>  
<p>We must use money in a way that satisfies not just the senses but the soul. Money, as defined by Webster's dictionary, is an economic tool, a "medium of exchange." Thus, we trade our physical labor for paper money and then exchange our paper money (or credit!) for the material goods we want. But money is much more than simply an economic tool. It is also psychological currency that buys emotional satisfaction. Money touches the essence of who we are and stirs our souls in ways that few things can.  (source: http://www.familylife.com/articles/topics/marriage/challenges/finances/the-value-of-money)
</p>
</div>


<div class ="gmo">
<h2>GMO Food</h2>
<p>The vast majority of the research on genetically modified (GM) crops suggests that they are safe to eat and that they have the potential to feed millions of people worldwide who currently go hungry. Yet not all criticisms of GM are so easily rejected, and pro-GM scientists are often dismissive and even unscientific in their rejection of the counterevidence.A careful analysis of the risks and benefits argues for expanded deployment and safety testing of GM crops. (source: https://www.scientificamerican.com/article/the-truth-about-genetically-modified-food/)
</p>
</div>


<div class ="theworld">
<h2>The View of World in 2100</h2>
<p>Think the world is crowded now? You haven’t seen anything yet.The world is expected to add another billion people within the next 15 years, bringing the total global population from 7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2 billion by 2100, according to new estimates from the UN. The world population is growing at a gradually slower and slower pace, but it's still growing substantially. Currently, the world adds about 83 million people per year, equivalent to roughly the population of Germany. But population growth has slowed to 1.18 percent per year from 1.24 percent a decade ago.(source:https://www.washingtonpost.com/news/wonk/wp/2015/08/17/5-ways-the-world-will-look-dramatically-different-in-2100/?utm_term=.a1e48d5eb0c8)</p>
</div>

</div>